<div class="left-navbar">
    <div class="">
        <div class="spacer col-12">

        </div>
        <div class="col-12 justify-content-center flex p-5">
            <i class="pi pi-box f-2 grey"></i>
        </div>
        <div class="col-12 justify-content-center flex p-5">
            <i class="material-icons f-2 grey">leaderboard</i>
        </div>
        <div class="col-12 justify-content-center flex p-5">
            <i class="material-icons f-2 grey">library_add</i>
        </div>
        <div class="col-12 justify-content-center flex p-5">
            <i class="material-icons f-2 grey">done_outline</i>
        </div>
        <div class="col-12 justify-content-center flex p-5">
            <i class="material-icons f-2 grey">settings</i>
        </div>
        <div class="col-12 justify-content-center flex p-5">
            <i class="pi pi-download f-2 grey"></i>
        </div>
    </div>
</div>